
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="clear"> </div>
<div class="clear"> </div>
<div class="clear"> </div>
<div id="Feedback" align="center">	 
		  
	<table width="465" height ="400" align="center" cellpadding="0" cellspacing="0" class="Borders3">
		
		<tbody><tr class="RowBG2">
			<td height="49" colspan="2" align="center" class="biggerText"><strong>Feed Back</strong></td>
		</tr>
		<tr class="RowBG1">
			<td width="122" height="59" class="biggerText">&nbsp; Your Name </td>
			<td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
		</tr>
		<br>
		<tr class="RowBG2">
			<td height="70" class="biggerText">&nbsp; Your Email * </td>
			<td class="nrmText"><input name="emala" type="text" class="txtField" id="emala" size="30"></td>
		</tr>
		<br>

		<tr class="RowBG2">
			<td height="121" class="biggerText">&nbsp; Message*</td>
			<td valign="top" class="nrmText"><textarea name="peghaam" cols="35" rows="7" class="txtField" id="peghaam"></textarea></td>
		</tr>
			<br>
		<tr class="RowBG2">
			<td height="27" colspan="2" class="nrmText"><div align="center">
				<input name="Submit" type="submit" class="frameTblBgCol2" value="  Send  ">
			</div></td>
		</tr>
		</tbody></table>

	</div>