
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="wrap">
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src=@Url.Content("/Content/images/1.png") alt=""></li>
            <li><img src=@Url.Content("/Content/images/2.png") alt=""></li>
            <li><img src=@Url.Content("/Content/images/1.png") alt=""></li>
        </ul>
        <!-- Slideshow 2 -->
    </div>
    <!--End-image-slider---->
</div>

<div class="clear"> </div>
<div class="wrap">
<div class="content">
<div class="top-3-grids">
    <div class="section group">
        <div class="grid_1_of_3 images_1_of_3">
            <a href=@Url.Content("/Content/single.html")><img src=@Url.Content("/Content/images/grid-img1.jpg")></a>
            <h3> </h3>
        </div>
        <div class="grid_1_of_3 images_1_of_3 second">
            <a href=@Url.Content("/Content/single.html")><img src=@Url.Content("/Content/images/grid-img2.jpg")></a>
            <h3></h3>
        </div>
        <div class="grid_1_of_3 images_1_of_3 theree">
            <a href="single.html"><img src=@Url.Content("/Content/images/grid-img3.jpg")></a>
            <h3></h3>
        </div>
    </div>
</div>

<div class="content-grids">
    <h4>Latest Mobile Phones</h4>
    <div class="section group">
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m1.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$260</h3>
            @*<ul>
                <li><a class="cart" href=@Url.Content("/Content/single.html")> </a></li>
                <li><a class="i" href=@Url.Content("/Content/single.html")> </a></li>
                <li><a class="Compar" href=@Url.Content("/Content/single.html")> </a></li>
                <li><a class="Wishlist" href=@Url.Content("/Content/single.html")> </a></li>
            </ul>*@
        </div>
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m2.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$150</h3>

        </div>
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m7.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$130</h3>
            
        </div>
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m4.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$460</h3>

        </div>
    </div>
    <div class="section group">
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m2.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$260</h3>

        </div>
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m6.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$100</h3>

        </div>
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m7.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$180</h3>

        </div>
        <div class="grid_1_of_4 images_1_of_4 products-info">
            <img src=@Url.Content("/Content/images/m1.jpg")>
            <a href=@Url.Content("/Content/single.html")>More Info</a>
            <h3>$140</h3>

        </div>
    </div>

</div>
        <div class="content-sidebar">
            <h4>Categories</h4>
            <ul>
                <li>
                    <a href=@Url.Content("/Search/Index")>Search by Model</a>
                </li>
                <li><a href=@Url.Content("/Show/Nokia")>Nokia</a></li>
                <li><a href=@Url.Content("/Show/QMobile")>QMobile</a></li>
                <li><a href=@Url.Content("/Show/Huawei")>Huawei</a></li>
                <li><a href=@Url.Content("/Show/Lenovo")>Lenovo</a></li>
                <li><a href=@Url.Content("/Show/Apple")>Apple</a></li>
                <li><a href=@Url.Content("/Show/Blackberry")>Blackberry</a></li>
                <li><a href=@Url.Content("/Show/Oppo")>Oppo</a></li>
                <li><a href=@Url.Content("/Show/Honor")>Honor</a></li>
                <li><a href=@Url.Content("/Show/Vivo")>Vivo</a></li>
                <li><a href=@Url.Content("/Show/Xiaomi")>Xiaomi</a></li>
                <li><a href=@Url.Content("/Show/Samsung")>Samsung</a></li>
                <li>Filter by Price</li>
                <li>
                    <a href=@Url.Content("/Show/Price_Check")>Price < 10000</a>
                </li>
                <li>
                    <a href=@Url.Content("/Show/Price_Check1")>10000 - 15000</a>
                </li>
                <li>
                    <a href=@Url.Content("/Show/Price_Check2")>15001 - 20000</a>
                </li>
                <li>
                    <a href=@Url.Content("/Show/Price_Check3")>20001 - 30000</a>
                </li>
                
                <li>
                    <a href=@Url.Content("/Show/Price_Check4")>30001 - 40000</a>
                </li>
                <li>
                    <a href=@Url.Content("/Show/Price_Check5")>40001 - 50000</a>
                </li>
      
            </ul>

        </div>
    </div>
    <div class="clear"> </div>
</div>

