@model IEnumerable<Example.Models.Image>

@{
    ViewBag.Title = "RetriveImage";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>RetriveImage</h2>

<table>

    <tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>

                @{
                    var Sbase64 = Convert.ToBase64String(item.Side);
                    var Simgsrc = string.Format("data:image/gif;base64,{0}", Sbase64);

                }
                <img style="align-content: center" src="@Simgsrc" />
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <a href="@Url.Action("Details","Admins", new {id = item.ModelID})">Description</a>
            </td>
        </tr>

                    }

        </tr>


    </table>







