
@{
    ViewBag.Title = "Mobile_info";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Dash/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Dash/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Dash/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Dash/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Dash/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Detials<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=@Url.Content("/Admins/Mobile_info")>Mobile</a>
                            </li>
                            <li>
                                <a href=@Url.Content("/Admins/Manufacturer_info")>Manufacturer</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Logout<span class="fa arrow"></span></a>

                    </li>

                 
                </ul>

            </div>
        </div>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Mobile Info</h1>
                        <table width="465" height ="300" align="center" cellpadding="0" cellspacing="0" class="Borders3">
                            <tbody>
                                <tr  class="RowBG1">
                                    <td width="122" height="10" class="RowBG2"><class="biggerText">&nbsp; Manufacturers</></td>
                                    <td width="341" height="50" class="RowBG2">
                                        <select name="company" id="company" onchange="form1.twice.value = 1;form1.Submit.click();">


                                            <option>Infinix</option>
                                            <option>Advance Telecom</option>
                                            <option>Mobile Zone</option>
                                            <option>United Mobiles</option>
                                        </select>
                                    </td>
                            </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Model </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Series </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Price </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Launch Date </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="10" class="RowBG2"><class ="biggerText">&nbsp; RAM</></td>
                                    <td width="341" height="50" class="RowBG2">
                                        <select name="company" id="company" onchange="form1.twice.value = 1;form1.Submit.click();">


                                            <option>4</option>
                                            <option>8</option>
                                            <option>16</option>
                                            <option>32</option>
                                            <option>64</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr class="RowBG1">
                                    <td width="122" height="10" class="RowBG2"><class ="biggerText">&nbsp;Sim</></td>
                                    <td width="341" height="50" class="RowBG2">
                                        <select name="company" id="company" onchange="form1.twice.value = 1;form1.Submit.click();">


                                            <option>Dual</option>
                                            <option>Single</option>
                                           
                                        </select>
                                    </td>
                                </tr>

                                <tr class="RowBG1">
                                    <td width="122" height="10" class="RowBG2"><class ="biggerText">&nbsp; Front Camera</></td>
                                    <td width="341" height="50" class="RowBG2">
                                        <select name="company" id="company" onchange="form1.twice.value = 1;form1.Submit.click();">


                                            <option>4</option>
                                            <option>8</option>
                                            <option>16</option>
                                            <option>32</option>
                                            <option>64</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr class="RowBG1">
                                    <td width="122" height="10" class="RowBG2"><class ="biggerText">&nbsp; Back Camera</></td>
                                    <td width="341" height="50" class="RowBG2">
                                        <select name="company" id="company" onchange="form1.twice.value = 1;form1.Submit.click();">


                                            <option>4</option>
                                            <option>8</option>
                                            <option>16</option>
                                            <option>32</option>
                                            <option>64</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr class="RowBG1">
                                    <td width="122" height="10" class="RowBG2"><class ="biggerText">&nbsp; Color</></td>
                                    <td width="341" height="50" class="RowBG2">
                                        <select name="company" id="company" onchange="form1.twice.value = 1;form1.Submit.click();">


                                            <option>Red</option>
                                            <option>Blue</option>
                                            <option>Silver</option>
                                            <option>Black</option>
                                            <option>Golden</option>
                                            <option>White</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="10" class="RowBG2"><class ="biggerText">&nbsp; Operating System</></td>
                                    <td width="341" height="50" class="RowBG2">
                                        <select name="company" id="company" onchange="form1.twice.value = 1;form1.Submit.click();">


                                            <option>Android</option>
                                            <option>IOS</option>
                                            
                                        </select>
                                    </td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Screen Size </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Frequency </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
                                </tr>
                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Battery </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="text" class="txtfield" id="NAAN" size="30"></td>
                                </tr>  

                                <tr class="RowBG1">
                                    <td width="122" height="50" class="biggerText">&nbsp; Images </td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="file" accept="image/*" class="txtfield" id="NAAN" size="30"></td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="file" accept="image/*" class="txtfield" id="NAAN" size="30"></td>
                                    <td width="341" class="nrmText"><input name="NAAN" type="file" accept="image/*" class="txtfield" id="NAAN" size="30"></td>

                                </tr>  
                                
                                <tr>
                                    <td>

                                    </td>
                                    <td colspan="2" align="center" class="RowBG2">

                                        <input type="hidden" name="twice" value="0">

                                        <input type="submit" name="Submit" value="Save">

                                        &nbsp;
                                    </td>
                                    <td>

                                    </td>
                                </tr>                      
               
</tbody>
                        </table>
    
                    </div>
                </div>


            </div>
        </div>



    </div>

    <!-- jQuery -->
    <script src="~/Dash/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Dash/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Dash/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Dash/js/startmin.js"></script>

</body>
</html>




